/hits/hits.net.txt
/hits/hits_invindex
/pagerank/small.net.txt
/pagerank/large.net.txt
/pagerank/.DS_Store
.DS_Store
/PageRankProj
/HITSProj
/pagerank/large.net
*.o
*.net
/pagerank/pagerank0
/pagerank/eecs485pa5p
/hits/eecs485pa5h
